body {
  background-color: $primary-black-alpha;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-img--mobile.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background-img--mobile@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    max-width: 1199px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background-img--tablet.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background-img--tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 1920px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/background-img--desktop.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/background-img--desktop@2x.jpg);
    }
  }
}

.container {
  // outline: 1px solid red;
  margin: 0 auto;
  padding: 0 15px;

  // max-width: 480px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  margin: 0 auto;
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.btn {
  cursor: pointer;
  padding: 10px 20px;

  font-size: 16px;
  letter-spacing: 0.06em;
  font-weight: 600;

  border: 2px solid $primary-white;
  border-radius: 15px;
  color: $primary-white;
  background-color: transparent;
  fill: $primary-white;

  transition: fill $transition-duration-cubic, color $transition-duration-cubic,
    background-color $transition-duration-cubic,
    border $transition-duration-cubic, border-color $transition-duration-cubic;
  &:hover,
  &:focus {
    fill: $secondary-brand-color;
    color: $secondary-brand-color;
    border: 2px solid $secondary-brand-color;
  }
}
