@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  background-color: $primary-black-alpha;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background-img.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
a {
  text-decoration: none;
  color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

a:hover,
a:focus {
  color: $secondary-brand-color;
}
/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

.container {
  // outline: 1px solid red;
  margin: 0 auto;
  padding: 0 15px;

  // max-width: 480px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  margin: 0 auto;
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.btn {
  cursor: pointer;
  padding: 10px 20px;

  font-size: 16px;
  letter-spacing: 0.06em;
  font-weight: 600;

  border: 2px solid $primary-white;
  border-radius: 15px;
  color: $primary-white;
  background-color: transparent;
  fill: $primary-white;
  &:hover,
  &:focus {
    fill: $secondary-brand-color;
    color: $secondary-brand-color;
    border: 2px solid $secondary-brand-color;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    left: 10px;
  }
  45% {
    opacity: 1;
    left: 150px;
  }
  50% {
    opacity: 0;
    left: 10px;
  }
  51% {
    left: 10px;
  }
  55% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
    left: 10px;
  }
  95% {
    opacity: 1;
    left: 150px;
  }
  96% {
    left: 10px;
  }
  100% {
    opacity: 0;
    left: 10px;
  }
}
