<header class="header">
  <div class="container header__wrapper">
    <a href="./index.html" class="header__logo-link">
      <svg width="150px" class="logo" height="50px">
        <use href="./images/icons.svg#icon-ring-bus-logo"></use>
      </svg>
    </a>
    <ul class="header__list">
      <li class="header__item">
        <a href="#route-form">Замовити місце</a>
      </li>
      <li class="header__item visually-hidden"><a href="">Маршрут</a></li>
      <li class="header__item">
        <a href="#contacts">Контакти</a>
      </li>
    </ul>
    <ul class="header__contacts">
      <li class="header__contact">
        <a href="tel:+380992664006">
          <svg viewBox="0 0 32 32" width="30px">
            <use href="./images/icons.svg#icon-flag-ukraine"></use>
          </svg>
          +38 099 266 4006</a
        >
      </li>
      <li class="header__contact">
        <a href="tel:+491781516236">
          <svg viewBox="0 0 32 32" width="30px">
            <use href="./images/icons.svg#icon-flag-germany"></use>
          </svg>
          +49 178 1516 236</a
        >
      </li>
    </ul>
  </div>
  <div class="container drop-menu">
    <div class="drop-menu__header">
      <a href="./index.html" class="drop-menu__logo-link">
        <svg width="150px" class="logo" height="50px">
          <use href="./images/icons.svg#icon-ring-bus-logo"></use>
        </svg>
      </a>
      <button type="button" class="drop-menu__button" data-open-close-btn>
        <svg width="40px" height="40px">
          <use href="./images/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </div>
    <nav class="drop-menu__nav is-hidden" data-nav>
      <ul class="drop-menu__list">
        <li class="drop-menu__item">
          <a href="#route-form" data-open-close-btn>Замовити місце</a>
        </li>
        <li class="drop-menu__item visually-hidden"><a href="">Маршрут</a></li>
        <li class="drop-menu__item">
          <a href="#contacts" data-open-close-btn>Контакти</a>
        </li>
      </ul>
      <ul class="drop-menu__contacts">
        <li class="drop-menu__contact">
          <a href="tel:+380992664006">+38 099 266 4006</a>
        </li>
        <li class="drop-menu__contact">
          <a href="tel:+491781516236">+49 178 1516 236</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
