<section class="section route-form-section" id="route-form">
  <div class="container">
    <div class="route-form__wrapper">
      <form autocomplete="off" class="route-form" data-routes-search-form>
        <div class="route-form__service">
          <h2 class="route-form__title">Оберіть послугу</h2>
          <label for="seat" class="route-form__service-type">
            <input
              type="radio"
              name="service-type"
              value="seat"
              id="seat"
              checked
              class="visually-hidden"
            />
            <span class="route-form__service-type-wrapper">
              <svg viewBox="0 0 32 32" width="30px">
                <use href="./images/icons.svg#icon-seatbelt"></use>
              </svg>
              Зайняти місце</span
            >
          </label>
          <label for="parcel" class="route-form__service-type">
            <input
              type="radio"
              name="service-type"
              value="parcel"
              id="parcel"
              class="visually-hidden"
            />
            <span class="route-form__service-type-wrapper">
              <svg viewBox="0 0 32 32" width="30px">
                <use href="./images/icons.svg#icon-parcel"></use>
              </svg>
              Відправити посилку</span
            >
          </label>
        </div>
        <div class="route-form__select">
          <h2 class="route-form__title">Оберіть маршрут</h2>
          <label for="start-route" class="route-form__city">Звідки:</label>
          <select
            id="start-route"
            name="start-route"
            class="route-form__selector"
          >
            <option value="Chernivtsi" selected>Чернівці</option>
            <option value="Ternopil">Тернопіль</option>
            <option value="Lviv">Львів</option>
            <option value="Krakiv">Краків</option>
            <option value="Berlin">Берлін</option>
            <option value="Dresden">Дрезден</option>
          </select>
          <label for="end-route" class="route-form__city">Куди:</label>
          <select id="end-route" name="end-route" class="route-form__selector">
            <option value="Chernivtsi">Чернівці</option>
            <option value="Ternopil">Тернопіль</option>
            <option value="Lviv">Львів</option>
            <option value="Krakiv">Краків</option>
            <option value="Berlin" selected>Берлін</option>
            <option value="Dresden">Дрезден</option>
          </select>
          <label for="start-date">Дата відправлення: </label>
          <input
            type="date"
            class="route-form__selector"
            placeholder="Виберіть доступну дату"
            required
            data-date-selector
          />
        </div>

        <button
          type="submit"
          class="btn route-form__btn"
          data-routes-search-btn
        >
          <svg viewBox="0 0 32 32" width="26px">
            <use href="./images/icons.svg#icon-search"></use>
          </svg>
          <span>Шукати перевізника</span>
        </button>
      </form>
      <ul class="routes__list" data-routes-list></ul>
    </div>
  </div>
</section>
