<li class="routes__bus">
  <table class="schedule__table">
    <thead>
      <tr class="schedule__row">
        <th class="schedule__date">01 березня 06:00</th>
        <th class="schedule__date">02 березня 01:00</th>
      </tr>
    </thead>
    <tbody>
      <tr class="schedule__row">
        <td class="schedule__city">Чернівці</td>
        <td class="schedule__city">Берлін</td>
      </tr>
    </tbody>
  </table>
  <div class="routes__footer">
    <ul class="routes__addons">
      <li class="routes__add-on">
        <svg viewBox="0 0 32 32" width="25px">
          <use href="./images/icons.svg#icon-wifi"></use>
        </svg>
      </li>
      <li class="routes__add-on">
        <svg viewBox="0 0 32 32" width="25px">
          <use href="./images/icons.svg#icon-charger"></use>
        </svg>
      </li>
      <li class="routes__add-on">
        <svg viewBox="0 0 32 32" width="25px">
          <use href="./images/icons.svg#icon-sleeping-bed"></use>
        </svg>
      </li>
    </ul>
    <button type="button" class="btn routes__choose-btn" data-modal-open>
      Вибрати
      <svg viewBox="0 0 32 32" width="20px">
        <use href="./images/icons.svg#icon-btn-arrow"></use>
      </svg>
    </button>
  </div>
</li>
<li class="routes__bus">
  <table class="schedule__table">
    <thead>
      <tr class="schedule__row">
        <th class="schedule__date">01 березня 06:00</th>
        <th class="schedule__date">02 березня 01:00</th>
      </tr>
    </thead>
    <tbody>
      <tr class="schedule__row">
        <td class="schedule__city">Чернівці</td>
        <td class="schedule__city">Берлін</td>
      </tr>
    </tbody>
  </table>
  <div class="routes__footer">
    <ul class="routes__addons">
      <li>
        <svg viewBox="0 0 32 32" width="25px">
          <use href="./images/icons.svg#icon-wifi"></use>
        </svg>
      </li>
      <li>
        <svg viewBox="0 0 32 32" width="25px">
          <use href="./images/icons.svg#icon-charger"></use>
        </svg>
      </li>
      <li>
        <svg viewBox="0 0 32 32" width="25px">
          <use href="./images/icons.svg#icon-sleeping-bed"></use>
        </svg>
      </li>
    </ul>
    <button type="button" class="btn routes__choose-btn" data-modal-open>
      Вибрати
      <svg viewBox="0 0 32 32" width="20px">
        <use href="./images/icons.svg#icon-btn-arrow"></use>
      </svg>
    </button>
  </div>
</li>

<li class="routes__comfort-icon">
  <svg
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    width="32"
    height="32"
    viewBox="0 0 32 32"
  >
    <path
      d="M473.6 768v-76.8H172.8a38.4 38.4 0 0 1-38.4-38.4V236.8a38.4 38.4 0 0 1 38.4-38.4h678.4a38.4 38.4 0 0 1 38.4 38.4v416a38.4 38.4 0 0 1-38.4 38.4H537.6v76.8h204.8a32 32 0 0 1 0 64H281.6a32 32 0 0 1 0-64h192z m145.3888-221.312a22.368 22.368 0 0 1-21.3824-12.8832L523.1872 374.208a22.3552 22.3552 0 0 1 40.5248-18.8928l55.2768 118.528 55.2704-118.528a22.3552 22.3552 0 1 1 40.5248 18.8928l-74.4128 159.5904a22.368 22.368 0 0 1-21.3824 12.8832zM422.1632 384v144.0448a22.3552 22.3552 0 1 1-44.7168 0V384H316.8a22.4 22.4 0 0 1 0-44.8h166.0032a22.4 22.4 0 0 1 0 44.8h-60.64z m-223.488-121.6v364.8h626.6496V262.4H198.6752z"
      fill="#5C646F"
    />
  </svg>
</li>
