<section class="section" id="about-us">
  <div class="container">
    <div class="section__wrapper">
      <h2 class="about-us__title">Про нас</h2>
      <p class="about-us__description">
        RingBus ↺ - найпростіший і найшвидший сервіс пошуку перевізника для
        поїздки чи відправлення посилок в Україну або за кордон. Скорочуємо
        відстань. Дбаємо про Ваш комфорт..
      </p>
      <h3 class="about-us__subtitle">В нас Ви можете просто і швидко:</h3>
      <ul>
        <li class="about-us__item"><span>Вибрати маршрут</span></li>
        <li class="about-us__item"><span>Вибрати дату поїздки</span></li>
        <li class="about-us__item">
          <span>Знайти перевізника, що підходить саме Вам</span>
        </li>
        <li class="about-us__item">
          <span>Зайняти місце для поїздки в Європу або в Україну</span>
        </li>
        <li class="about-us__item">
          <span>Відправити посилку в Європу або в Україну</span>
        </li>
        <li class="about-us__item">
          <span>Отримати контакти перевізника</span>
        </li>
        <li class="about-us__item">
          <span
            >Отримати інформацію від
            <a href="#contacts" class="about-us__contacts-link"
              >служби підтримки</a
            ></span
          >
        </li>
      </ul>
    </div>
  </div>
</section>
