<footer class="footer" id="contacts">
  <address class="container">
    <h2 class="contacts__title">Наші контакти</h2>
    <p class="contacts__info">Натисніть на іконку або проскануйте код</p>
    <ul class="contacts__list">
      <li class="contacts__card">
        <a href="tel:+491785021967" class="contacts__link">
          <!-- <img alt="Німецький номер" src="./images/deutsch-qr.svg" /> -->
          <svg class="socials__qr-icon" viewBox="0 0 32 32">
            <use href="./images/icons.svg#icon-deutsch-qr"></use>
          </svg>
          <span class="contacts__phone-icon-wrapper">
            <svg viewBox="0 0 32 32" width="30px">
              <use href="./images/icons.svg#icon-flag-germany"></use>
            </svg>
            +49 178 502 1967
          </span>
        </a>
        <ul class="socials">
          <li class="socials__item">
            <a
              href="https://wa.me/+491785021967"
              rel="noopener nofollow noreferrer"
              class="socials__link"
              ><svg viewBox="0 0 32 32" width="40px">
                <use href="./images/icons.svg#icon-whatsapp"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link"
              href="https://t.me/+491785021967"
              rel="noopener nofollow noreferrer"
              ><svg viewBox="0 0 32 32" width="40px">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="contacts__card">
        <a href="tel:+380984393019" class="contacts__link">
          <!-- <img alt="Український номер" src="./images/kyivstar-qr.svg" /> -->
          <svg class="socials__qr-icon" viewBox="0 0 32 32">
            <use href="./images/icons.svg#icon-kyivstar-qr"></use>
          </svg>
          <span class="contacts__phone-icon-wrapper">
            <svg viewBox="0 0 32 32" width="30px">
              <use href="./images/icons.svg#icon-flag-ukraine"></use>
            </svg>
            +38 098 439 3019
          </span>
        </a>
        <ul class="socials">
          <li class="socials__item">
            <a
              class="socials__link"
              href="viber://chat?number=+380984393019"
              rel="noopener nofollow noreferrer"
              ><svg viewBox="0 0 32 32" width="40px">
                <use href="./images/icons.svg#icon-viber"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              class="socials__link"
              href="https://t.me/+380984393019"
              rel="noopener nofollow noreferrer"
              ><svg viewBox="0 0 32 32" width="40px">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </li>
      <li class="contacts__card">
        <a
          href="https://instagram.com/ring__bus?igshid=YmMyMTA2M2Y="
          rel="noopener nofollow noreferrer"
          class="contacts__link contacts__link--no-margin"
        >
          <!-- <img alt="Інстаграм" src="./images/instagram-qr.svg" /> -->
          <svg class="socials__qr-icon" viewBox="0 0 32 32">
            <use href="./images/icons.svg#icon-instagram-qr"></use>
          </svg>
          <span class="contacts__phone-icon-wrapper">
            <svg
              viewBox="0 0 32 32"
              width="30px"
              class="socials__instagram-icon"
            >
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
            @ring__bus
          </span></a
        >
      </li>
    </ul>
  </address>
</footer>
