<div class="backdrop is-hidden" data-modal-backdrop>
  <div class="modal">
    <table class="modal__table" data-modal-table></table>
    <h2 class="modal__title">Натисніть на іконку для зв'язку з водієм</h2>
    <ul class="socials socials--add-margin-bottom">
      <li class="socials__item">
        <a
          class="socials__link"
          rel="noopener nofollow noreferrer"
          data-phone-link
          ><svg viewBox="0 0 32 32" width="40px">
            <use href="./images/icons.svg#icon-handset"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a
          target="_blank"
          class="socials__link"
          rel="noopener nofollow noreferrer"
          data-viber-link
          ><svg viewBox="0 0 32 32" width="40px">
            <use href="./images/icons.svg#icon-viber"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a
          target="_blank"
          class="socials__link"
          rel="noopener nofollow noreferrer"
          data-telegram-link
          ><svg viewBox="0 0 32 32" width="40px">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="socials__item">
        <a
          target="_blank"
          rel="noopener nofollow noreferrer"
          class="socials__link"
          data-whatsapp-link
          ><svg viewBox="0 0 32 32" width="40px">
            <use href="./images/icons.svg#icon-whatsapp"></use>
          </svg>
        </a>
      </li>

      <li class="socials__item">
        <a
          target="_blank"
          class="socials__link"
          rel="noopener nofollow noreferrer"
          data-instagram-link
        >
          <svg viewBox="0 0 32 32" width="30px" class="socials__instagram-icon">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
    <p class="modal__subtitle">АБО</p>
    <h2 class="modal__title">Залиште свої дані, з Вами зв'яжеться водій</h2>
    <form class="modal-form" autocomplete="off" data-modal-form>
      <div class="modal__form">
        <label for="name">Ім'я*</label>
        <input
          type="text"
          name="name"
          id="name"
          class="modal__input"
          placeholder="Ім'я"
          required
          pattern="[a-zA-Z\u0400-\u04ff]{3,30}"
        />
      </div>
      <div class="modal__form">
        <label for="tel">Телефон*</label>
        <input
          type="tel"
          name="tel"
          id="tel"
          class="modal__input"
          placeholder="+380990011222"
          required
          pattern="\+?[0-9\s\-\(\)]+"
          minlength="10"
          maxlength="13"
        />
      </div>
      <div class="modal__textarea">
        <label for="comment">Коментар</label>
        <textarea
          name="comment"
          id="comment"
          placeholder="Введіть текст"
        ></textarea>
      </div>
      <ul class="modal__btns">
        <li>
          <button type="button" class="btn modal__btn" data-modal-cancel>
            Скасувати
          </button>
        </li>
        <li>
          <button type="submit" class="btn modal__btn" data-modal-submit>
            Підтвердити
          </button>
        </li>
      </ul>
    </form>
  </div>
</div>
