<footer id="contacts">
  <address class="container">
    <h2 class="contacts__title">Наші контакти</h2>
    <p class="contacts__info">Натисніть на іконку або проскануйте код</p>
    <ul class="contacts__list">
      <li class="contacts__card">
        <a href="tel:+491785021967" class="contacts__link">
          <img alt="Німецький номер" src="./images/deutsch-qr.svg" />
          +49 178 502 1967
        </a>
        <ul class="socials">
          <li class="socials__item">
            <a
              href="https://wa.me/+491785021967"
              rel="noopener nofollow noreferrer"
              class="socials__link"
              >whatsapp logo</a
            >
          </li>
          <li class="socials__item">
            <a
              href="https://t.me/+491785021967"
              rel="noopener nofollow noreferrer"
              >telegram logo</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__card">
        <a href="tel:+380984393019" class="contacts__link">
          <img alt="Український номер" src="./images/kyivstar-qr.svg" />
          +38 098 439 3019
        </a>
        <ul class="socials">
          <li class="socials__item">
            <a
              href="viber://chat?number=+380984393019"
              rel="noopener nofollow noreferrer"
              >viber logo</a
            >
          </li>
          <li class="socials__item">
            <a
              href="https://t.me/+380984393019"
              rel="noopener nofollow noreferrer"
              >telegram logo</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts__card">
        <a
          href="https://instagram.com/ring__bus?igshid=YmMyMTA2M2Y="
          rel="noopener nofollow noreferrer"
          class="contacts__link contacts__link--no-margin"
        >
          <img alt="Інстаграм" src="./images/instagram-qr.svg" />
          Instagram</a
        >
      </li>
    </ul>
  </address>
</footer>
