<footer>
  <address>
    <ul>
      <li>
        <a href="tel:+491785021967">
          <img alt="Німецький номер" src="./images/deutsch-qr.svg" />
          +49 178 502 1967
        </a>
        <ul>
          <li>
            <a
              href="https://wa.me/+491785021967"
              rel="noopener nofollow noreferrer"
              >whatsapp logo</a
            >
          </li>
          <li>
            <a
              href="https://t.me/+491785021967"
              rel="noopener nofollow noreferrer"
              >telegram logo</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a href="tel:+380984393019">
          <img alt="Український номер" src="./images/kyivstar-qr.svg" />
          +38 098 439 3019
        </a>
        <ul>
          <li>
            <a
              href="viber://chat?number=+380984393019"
              rel="noopener nofollow noreferrer"
              >viber logo</a
            >
          </li>
          <li>
            <a
              href="https://t.me/+380984393019"
              rel="noopener nofollow noreferrer"
              >telegram logo</a
            >
          </li>
        </ul>
      </li>

      <li>
        <img alt="Інстаграм" src="./images/instagram-qr.svg" />
        <a
          href="https://instagram.com/ring__bus?igshid=YmMyMTA2M2Y="
          rel="noopener nofollow noreferrer"
          >Instagram</a
        >
      </li>
    </ul>
  </address>
</footer>
