<footer>
  <address>
    <ul>
      <li>
        <img alt="Німецький номер" />
        <p>Німецький номер</p>
      </li>
      <li>
        <img alt="Український номер" />
        <p>Український номер</p>
      </li>
      <li>
        <img alt="Інстаграм" />
        <p>Instagram</p>
      </li>
      <li>
        <img alt="Viber" />
        <p></p>
        Viber
      </li>
      <li>
        <img alt="WhatsApp" />
        <p></p>
        WhatsApp
      </li>
      <li>
        <img alt="Telegram" />
        <p></p>
        Telegram
      </li>
    </ul>
  </address>
</footer>
