<section class="section form-section">
  <div class="container form">
    <form autocomplete="off">
      <h2 class="form__title">Замовити місце</h2>

      <div class="form__radio-btns">
        <label class="form__radio-btn">
          <input type="radio" value="Dresden" name="start-route" />
          <span>Dresden</span></label
        >
        <label class="form__radio-btn">
          <input type="radio" value="Berlin" name="start-route" />
          <span>Berlin</span></label
        >
        <label class="form__radio-btn">
          <input type="radio" value="Lviv" name="end-route" />
          <span>Lviv</span></label
        >
        <label class="form__radio-btn">
          <input type="radio" value="Ternopil" name="end-route" />
          <span>Ternopil</span></label
        >
        <label class="form__radio-btn">
          <input type="radio" value="Chernivtsi" name="end-route" />
          <span>Chernivtsi</span></label
        >
      </div>
      <div class="form__inputs">
        <label for="name">name:</label>
        <input type="text" name="name" id="name" required />
        <label for="tel">tel:</label>
        <input type="tel" name="tel" id="tel" required />
        <label for="comment">Comment:</label>
        <textarea name="comment" id="comment" required></textarea>
      </div>
      <button type="submit">Підтвердити</button>
    </form>
  </div>
</section>
