<header>
  <div class="header">
    <a href="./index.html" class="header__logo-link">
      <img
        class="logo"
        src="./images/logo.png"
        alt="RingBusLogo"
        width="150px"
      />
    </a>
    <ul class="header__list">
      <li class="header__item">Замовити місце</li>
      <li class="header__item">Маршрут</li>
      <li class="header__item">Контакти</li>
    </ul>
    <ul class="header__contacts">
      <li class="header__contact">
        <a href="tel:+380984393019">+380984393019</a>
      </li>
      <li class="header__contact">
        <a href="tel:+491785021967">+491785021967</a>
      </li>
    </ul>
  </div>
  <div class="drop-menu">
    <div class="drop-menu__header">
      <a href="./index.html" class="drop-menu__logo-link">
        <img
          class="logo"
          src="./images/logo.png"
          alt="RingBusLogo"
          width="150px"
        />
      </a>
      <button type="button" class="drop-menu__button">
        <svg width="15px">
          <use href="./images/menu.svg" width="15px"></use>
        </svg>
      </button>
    </div>
    <nav class="drop-menu__nav">
      <ul class="drop-menu__list">
        <li class="drop-menu__item"><a href="">Замовити місце</a></li>
        <li class="drop-menu__item"><a href="">Маршрут</a></li>
        <li class="drop-menu__item"><a href="">Контакти</a></li>
      </ul>
      <ul class="drop-menu__contacts">
        <li class="drop-menu__contact">
          <a href="tel:+380984393019">+38 098 439 30 19</a>
        </li>
        <li class="drop-menu__contact">
          <a href="tel:+491785021967">+49 178 502 19 67</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
