<div class="backdrop" data-modal>
  <div class="modal">
    <button type="button" class="btn-modal" data-modal-close>X</button>
    <h2>Залиште свої дані, з Вами зв'яжеться водій</h2>
    <form class="modal-form" autocomplete="off">
      <label for="name">Ім'я*</label>
      <input type="text" name="name" id="name" />

      <label for="tel">Телефон*</label>
      <input type="tel" name="tel" id="tel" />

      <label for="email">Інстаграм</label>
      <input type="email" name="email" id="email" />

      <label for="comment">Коментар</label>
      <textarea
        name="comment"
        id="comment"
        placeholder="Введіть текст"
      ></textarea>

      <button type="submit" class="btn">Скасувати</button>
      <button type="submit" class="btn">Зайняти місце</button>
    </form>
  </div>
</div>
