.drop-menu {
  display: block;
  height: 100%;
  text-align: center;
  position: relative;
  z-index: 2;

  top: 0;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.is-hidden {
  display: none;
}

.drop-menu__header {
  display: flex;
  height: 100%;

  justify-content: space-between;
  align-items: center;
}

.drop-menu__button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;

  background-color: transparent;
  fill: $secondary-brand-color;

  &:hover,
  &:focus {
    fill: $primary-white;
  }
}

.drop-menu__nav {
  // display: none;
  position: absolute;
  top: 60px;
  left: 0px;
  width: 100%;
  padding: 48px 40px;

  color: $primary-black;
  background-color: $primary-white;
}

.drop-menu__list {
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
}

.drop-menu__item:not(:last-child) {
  margin-bottom: 15px;
}

.drop-menu__contacts {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 500;
}

.drop-menu__contact:not(:last-child) {
  margin-bottom: 15px;
}

.drop-menu__item a,
.drop-menu__contact a {
  display: inline-block;
  width: 100%;
}
