.route-form {
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    .route-form__select,
    .route-form__service {
      width: 50%;
    }
  }
}

.section__wrapper {
  border-radius: 15px;
  padding: 15px;

  text-align: center;

  background-color: $primary-black-alpha;
  color: $primary-white;
  backdrop-filter: blur(3px);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 6px 6px rgba(0, 0, 0, 0.12),
    2px 6px 8px rgba(0, 0, 0, 0.32);
}

.route-form__title {
  width: 100%;

  text-align: center;
  font-weight: 700;
  font-size: 28px;
}

.route-form__service {
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    flex-direction: column;
  }
}

.route-form__service-type {
  cursor: pointer;
  display: flex;

  border-radius: 4px;
  fill: $primary-white;

  & input:checked + .route-form__service-type-wrapper {
    border-color: $secondary-brand-color;
    fill: $secondary-brand-color;
    color: $secondary-brand-color;
  }
}

.route-form__service-type-wrapper {
  border: 2px solid $primary-white;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;

  transition: fill $transition-duration-cubic,
    border-color $transition-duration-cubic, color $transition-duration-cubic;

  &:hover,
  &:focus {
    border-color: $secondary-brand-color;
    fill: $secondary-brand-color;
    color: $secondary-brand-color;
  }
}

.route-form__select {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 5px;
  margin-bottom: 20px;
}

.route-form__selector {
  height: 40px;
  width: 100%;
  padding: 5px 10px;

  font-size: 16px;
  text-transform: uppercase;

  border-radius: 4px;
  color: $primary-black;
  background-color: $primary-white-alpha;

  transition: background-color $transition-duration-cubic;

  &:disabled {
    background-color: $primary-black-alpha;
  }
}

.route-form__date-selector--wrapper {
  position: relative;
  width: 100%;

  label {
    display: block;
    margin-bottom: 5px;
  }
}

.loading {
  display: none;
}

.route-form__date-selector {
  width: 100%;
}

.route-form__date-selector::placeholder {
  color: $primary-black;
}

.route-form__date-selector:disabled + .loading {
  display: block;
  position: absolute;
  top: 30px;
  left: 10px;
  height: 24px;
  width: 20px;
  border-radius: 2px;
  background: #bce4ff;
  box-shadow: 0 0 15px #bce4ff;
  animation: blink 6s infinite;
}

.route-form__btn {
  position: relative;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 10px;
  fill: $primary-white;

  transition: fill $transition-duration-cubic, color $transition-duration-cubic,
    border-color $transition-duration-cubic;
}

.route-form__btn {
  svg {
    position: absolute;
    top: 8px;
    left: 10px;
    height: 24px;
    width: 20px;
  }

  span {
    margin-left: 15px;
  }

  &:disabled {
    cursor: wait;
    border-color: $primary-white-alpha;
    color: $primary-white-alpha;

    span {
      animation: title 2s linear 0.7s infinite;
      text-shadow: 0 0 6px #bce4ff;
    }

    svg {
      border-radius: 2px;
      fill: transparent;
      background: #bce4ff;
      box-shadow: 0 0 15px #bce4ff;
      animation: blink 4s infinite;
    }
  }
}

.routes__bus {
  text-align: start;
  border-radius: 15px;
  padding: 15px;

  color: $primary-white;
  background-color: rgba($color: #ffffff, $alpha: 0.4);
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.routes__id {
  color: $primary-white-alpha;
}

.schedule__warning {
  color: $primary-white-alpha;
  margin-bottom: 12px;
}

.schedule__table {
  margin-bottom: 20px;
  width: 100%;
}

.schedule__row {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.schedule__date {
  text-align: start;
  max-width: 110px;
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

.schedule__date--right {
  text-align: end;
}

.routes__addons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  fill: $primary-white;
  @media screen and (min-width: 768px) {
    gap: 10px;
    & svg {
      width: 30px;
    }
  }
}

.routes__footer {
  display: flex;
  justify-content: space-between;
}

.routes__choose-btn {
  display: flex;
  align-items: center;
  gap: 5px;

  transition: background-color $transition-duration-cubic,
    fill $transition-duration-cubic, color $transition-duration-cubic,
    border-color $transition-duration-cubic;

  &:disabled {
    cursor: wait;
    background-color: $primary-black-alpha;
    fill: $primary-white-alpha;
    color: $primary-white-alpha;
    border-color: $primary-white-alpha;
  }
}
