.footer {
  padding: 60px 0;
}

.contacts__title {
  margin-bottom: 12px;

  text-align: center;
  font-weight: 700;
  font-size: 28px;

  color: $primary-white;
}

.contacts__info {
  margin-bottom: 12px;
  text-align: center;

  color: $primary-white;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.contacts__card {
  padding: 15px;
  border-radius: 15px;

  color: $primary-white;
  background-color: $primary-black-alpha;
  backdrop-filter: blur(3px);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 6px 6px rgba(0, 0, 0, 0.12),
    2px 6px 8px rgba(0, 0, 0, 0.32);
}

.contacts__link {
  display: block;
  margin-bottom: 20px;

  font-size: 16px;
}

.contacts__link--no-margin {
  margin-bottom: 0;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.socials__qr-icon {
  width: 100%;
  height: 100%;
  max-width: 300px;
  margin-bottom: 10px;

  border-radius: 15px;
}

.socials__item {
  border-radius: 50%;

  transition: transform $transition-duration-cubic,
    filter $transition-duration-cubic;

  &:hover,
  &:focus {
    transform: scale(110%);
    filter: saturate(2) brightness(1);
  }
}

.socials__link {
  display: block;
  width: 100%;
  height: 100%;
  fill: $primary-black-alpha;
}

.contacts__phone-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  transition: transform $transition-duration-cubic,
    filter $transition-duration-cubic;
}

.socials__instagram-icon {
  fill: #d82d7e;

  transition: transform $transition-duration-cubic,
    filter $transition-duration-cubic;
}

.contacts__phone-icon-wrapper:hover,
.contacts__phone-icon-wrapper:focus .socials__instagram-icon {
  transform: scale(110%);
  filter: saturate(2) brightness(1);
}
