.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow-y: auto;

  background-color: $primary-black-alpha;
  backdrop-filter: blur(4px);

  transition: opacity $transition-duration-cubic,
    visibility $transition-duration-cubic, transform $transition-duration-cubic;
}

.modal {
  position: absolute;
  margin: 0 auto;
  overflow-y: auto;
  padding: 15px;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 290px;
  max-width: 450px;

  border-radius: 15px;
  background-color: rgba($color: #ffffff, $alpha: 0.85);
}

.modal__table {
  width: 100%;
}

.modal__route-id {
  color: $primary-black-alpha;
}

.modal__title {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}

.modal__subtitle {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
  margin-bottom: 12px;
}

.modal__form,
.modal__textarea {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  & label {
    margin-bottom: 4px;
  }
}

.modal__input {
  height: 40px;
  margin-bottom: 10px;
  padding: 5px 10px;

  font-size: 18px;

  border: 1px solid;
  border-radius: 4px;
  color: $primary-black;
  background-color: $primary-white-alpha;
}

.modal__textarea {
  & textarea {
    resize: none;
    width: 100%;

    height: 80px;
    margin-bottom: 10px;
    padding: 5px 10px;

    font-size: 18px;

    border: 1px solid;
    border-radius: 4px;
    color: $primary-black;
    background-color: $primary-white-alpha;
  }
}

.modal__btns {
  display: flex;
  gap: 10px;
  flex-grow: 1;
}

.modal__btn {
  height: 100%;

  color: $primary-black;
  border-color: $primary-black;

  &:hover,
  &:focus {
    background-color: $primary-black-alpha;
  }
  &:disabled {
    cursor: wait;
    background-color: $primary-black-alpha;
    color: $primary-white-alpha;
    border-color: $primary-white-alpha;
  }
}

.socials--add-margin-bottom {
  margin-bottom: 12px;
}
